<div class="card ticket-card" id="{{id}}">
        <div class="card-header">
            <h5 class="card-title">{{firstName}} {{lastName}}</h5>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="card-img-top ticket-barcode" src="img/people/{{mugshot}}" alt="{{firstName}} {{lastName}}" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <p class="card-text">{{streetAddress}}</p>
                    <p class="card-text">{{city}} {{state}} {{zipCode}}</p>
                    <p class="card-text">{{phoneNumber}}</p>
                </div>
                <div class="card-body">
                    <a href="tickets/" class="card-link btn btn-primary">TIckets</a>
                </div>
            </div>
        </div>
    </div>