<div class="container">
    <div class="row">
        <div class="card">
            <img src="{{{image}}}" alt="{{title}}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
            </div>
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row">
        <audio src="{{{link}}}" controls="controls"></audio>
    </div>
    <div class="row">
        <button type="button" class="btn btn-listen-later" data-id="{{guid}}">Listen Later</button>
    </div>
    <div class="row">
        <p>{{{description}}}</p>
    </div>
</div>